# Alphabetical order required
alembic==0.8.6
beautifulsoup4==4.3.2
bleach==1.4.2
blinker==1.3
boto==2.28.0
celery==3.1.17
cerberus==0.9.2
eve-sqlalchemy==0.4.1
feedparser==5.2.1
Flask-Bcrypt==0.6.2
Flask-Cache==0.13.1
Flask-CDN==1.4.0
Flask-Login==0.2.11
Flask-Mail==0.9.0
flask-migrate==1.5.1
Flask-Moment==0.4.0
Flask-OAuthlib==0.9.1
Flask-Redis-Helper==1.0.0
Flask-Script==2.0.5
Flask-SQLAlchemy==1.0
Flask-WTF==0.10.0
Flask-Babel
Flask==0.10.1
google-api-python-client==1.4.1
gunicorn==18.0
htmlmin==0.1.6
icalendar==3.9.0
itsdangerous==0.24
Jinja2==2.7.3
logconfig==0.4.0
loremipsum==1.0.5
mock==1.3.0
nose==1.3.7
git+https://github.com/idan/oauthlib.git@a3ef551#egg=Package # waiting release with this fix
oauth2client==1.5.0
openpyxl
pathlib==1.0.1
Pillow==2.6.1
py2neo==1.6.4
pycrypto==2.6
python-dateutil==2.3
pytz==2016.3
redis==2.10.3
requests==2.2.1
restless==2.0.1
simplejson==3.4.1
simple-salesforce
six==1.9.0
soap2py
SQLAlchemy==1.0.5
stripe==1.22.3
unicodecsv==0.9.4
unidecode
vcrpy==1.7.3
webassets==0.10.1
Werkzeug==0.10.4
docopt
tabulate==0.7.5
babel